<!DOCTYPE html>
<html ng-app="testApp">
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container" ng-controller="AppCtrl">
		<h2>Welcome <%= title %></h2>
<!-- 		custom directive angular ada 2 :
		1. element = <header-title></header-title> 
		2. attribut = <div header-title></div> -->
		<header-title></header-title>  
 		 <input type="text" ng-model="hasil" placeholder="Search" />  
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="contact in contactlist | filter: hasil | orderBy:'name'">
					<td>{{contact.name | uppercase}}</td>
					<td>{{contact.email | lowercase}}</td>
					<td>{{contact.address}}</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<div table-title></div> <!-- table di controller angular => table1.ejs -->

	<script type="text/javascript">

	</script>
	<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular-route.js"></script>
	<script type="text/javascript" src="controller/controller.js"></script>
</body>
</html>