<!DOCTYPE html>
<html ng-app>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h2>Welcome <%= title %></h2>
		<input ng-model="test">
		<br/>
		{{test}}
	</div>
	<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="angular/angular.min.js"></script>
</body>
</html>